.row{
    width: 100%;
    height: 400px;
    background-color: rgb(19, 20, 21);
    display: flex;
    justify-content: space-evenly;
    /* start , end , center , space-evenly , space-around , space-between */
    align-items: center;
}
.col{
    width: 150px;
    height: 200px;
    background-color: darkred;
    border: 4px solid whitesmoke;
}